# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/
ENV/
env/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
pytestdebug.log
cover/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Uploads folder (if you don’t want to commit your PDFs)
chatbot-ollama/uploads/

# OS files
.DS_Store
Thumbs.db